name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  stylua:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Stylua Check
        uses: JohnnyMorganz/stylua-action@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --check lua tests

  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y neovim luarocks
      - name: Install vusted
        run: luarocks --lua-version=5.1 install vusted
      - name: Run vusted suite
        env:
          PATH: /home/runner/.luarocks/bin:${{ env.PATH }}
          VUSTED_ARGS: --headless --clean -u tests/vusted/init.lua
        run: vusted lua/cmt/tests
